<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contato</title>
</head>
<body>
<span th:if="${contato}">
    <h1>Contato achado com sucesso:</h1>
    Nome do contato: <p th:text="${contato.nome} ?: ''"></p>
    Data nascimento: <p th:text="${contato.dataNascimento}"></p>
    Email: <p th:text="${contato.email}"></p>
    Endereco: <p th:text="${contato.endereco}"></p>
</span>
<span th:unless="${contato}">
    <h1>Infelizmente o contato não foi encontrado tente novamente</h1>
    <a href="./procuraContatoForm">Tentar novamente</a>
</span>
<br>
<a href="/"> Ir para home </a>
<a th:href="@{'/deletaContatoId?id=' + ${contato.getIdContato()}}"> Excluir contato</a>
<a th:href="@{'/updateContatoId?id=' + ${contato.getIdContato()}}">Atualize o contato</a>
</body>
</html>