<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de contatos</title>
</head>
<body>
<h1>Lista de Contatos:</h1>

<table>
    <thead>
    <tr>
        <th th:text="#{coluna.id}"></th>
        <th th:text="#{coluna.nome}"></th>
        <th th:text="#{coluna.dataNascimento}"></th>
        <th th:text="#{coluna.email}"></th>
        <th>Endereço</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contato: ${listaContatos}">
        <td th:text="${contato.idContato}">IdContato</td>
        <td th:text="${contato.nome}"></td>
        <td th:text="${contato.dataNascimento}"></td>
        <td th:text="${contato.email}"></td>
        <td th:text="${contato.endereco}"></td>
    </tr>
    </tbody>
</table>

<a href="/"> Ir para home </a>
</body>
</html>